@font-face {
  font-family: "Avenir Next";
  src: url("./AvenirNext-Regular.woff2") format("woff2"), url("./AvenirNext-Regular.woff") format("woff"), url("./AvenirNext-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./AvenirNext-Italic.woff2") format("woff2"), url("./AvenirNext-Italic.woff") format("woff"), url("./AvenirNext-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./AvenirNext-Demi.woff2") format("woff2"), url("./AvenirNext-Demi.woff") format("woff"), url("./AvenirNext-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src:url("./AvenirNext-Bold.woff2") format("woff2"), url("./AvenirNext-Bold.woff") format("woff"), url("./AvenirNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./AvenirNext-Heavy.woff2") format("woff2"), url("./AvenirNext-Heavy.woff") format("woff"), url("./AvenirNext-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


/* 
-------------------------------------------------------------------------------
body
-------------------------------------------------------------------------------
*/

:root {
  --color-orange:        #EE7F4B;
  --color-pink:          #E9506E;
  --color-green:         #00A95C;
  --color-white:         #FFFFFF;
  --color-yellow:        #FFCE2E;
  --color-turqoise:      #00A49A;
  --color-purple:        #474DA4;
  --color-grey-darkest:  #333;
  --color-grey-dark:     #666;
  --color-grey:          #999;
  --color-grey-light:    #ccc;
  --color-grey-lighter:  #eee;
  --color-grey-lightest: #f6f6f6;

  --baseline: 1.636363636;
  --text-base: 1.1rem; /* 18px based on 16px */

  @media (max-width: $screen-md-min) {
    --baseline: 1.5;
    --text-base: 1.125rem;
  }
  @media (min-width: $screen-md-min) {
    --baseline: 1.568181818;
    --text-base: 1.25rem;
  }
  @media (min-width: $screen-lg-min) {
    --baseline: 1.636363636;
    --text-base: 1.375rem;
  }

  --ratio: 1.1834;
  --gutter: 2rem;
  --text-sm: calc(var(--text-base) / var(--ratio));
  --text-xs: calc(var(--text-sm) / var(--ratio));
  --text-lg: calc(var(--text-base) * var(--ratio));
  --text-xl: calc(var(--text-lg) * var(--ratio));
  --text-2xl: calc(var(--text-xl) * var(--ratio));
  --text-3xl: calc(var(--text-2xl) * var(--ratio));
  --text-4xl: calc(var(--text-3xl) * var(--ratio));
  --text-5xl: calc(var(--text-4xl) * var(--ratio));
  --text-5xl: calc(var(--text-5xl) * var(--ratio));

  --screen-sm-min: 48rem;
  --screen-md-min: 62rem;
  --screen-lg-min: 75rem;
  --screen-xl-min: 87.5rem;

  --border-radius: 5px;
}

/*
 * TYPOGRAPHY
 */

html {
  font-size: 100%;
}

body {
  color: var(--color-grey-darkest);
  font-family: "Avenir Next", sans-serif;
  line-height: var(--baseline);
  font-size: var(--text-base);
}

a {
  color: inherit;
}

p {
  line-height: var(--baseline) !important;
  font-size: var(--text-base) !important;
  margin: 0 0 calc(var(--baseline) * var(--text-base) * 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: var(--text-3xl) !important;
  line-height: calc(var(--baseline) * var(--text-base) * 2 - 0px) !important;
  margin: 0 0 calc(var(--baseline) * var(--text-base) * 1 - 0px);
  @media (min-width: 48rem) {
    font-size: var(--text-4xl);
  }
}

h2 {
  font-size: var(--text-2xl) !important;
  line-height: calc(var(--baseline) * var(--text-base) * 1.5 - 0px) !important;
  margin: 0 0 calc(var(--baseline) * var(--text-base) * 0.5 - 0px);
}

h3 {
  font-size: var(--text-xl) !important;
  line-height: calc(var(--baseline) * var(--text-base) * 1.25) !important;
  margin: 0 0 calc(var(--baseline) * var(--text-base) * 0.75);
}

h4 {
  font-size: var(--text-lg) !important;
  line-height: calc(var(--baseline) * var(--text-base) * 1) !important;
  margin: 0 0 calc(var(--baseline) * var(--text-base) * 0.5);
}

/*
 * NAVBAR
 */

.navbar-inner {
  background-image: linear-gradient(-135deg, #EE7F4B 0%, #E9506E 100%) !important;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25) !important;
  padding: calc(var(--baseline) * var(--text-base) * 0.5)
}

.navbar .brand {
  background: url('./logo_white@2x.png') no-repeat !important;
  background-size: 100% auto !important;
  height: 36px !important;
  width: 217px !important;
  text-indent: -10000px !important;
  padding: 0 !important;
}

.navbar .nav > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white !important;
  font-size: inherit !important;
  font-weight: 400 !important;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25) !important;
}


.navbar .nav .active .caret {
  display: none !important;
}

/*
 * Searchbar
 */

#docsSearch #searchBar button {
  top: auto !important;
}

/*
 * Category list
 */

.collection-category .category-list {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-template-rows: auto !important;
  grid-gap: 1rem !important;
}

.category-list .category {
  width: auto !important;
  margin: 0 !important;
}

/*
 * Content wrapper
 */


.contentWrapper a {
  text-decoration: underline !important;
}

/*
 * Border radius
 */

.img-rounded, code, pre, select, textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input,
.btn, .btn-large, .btn-small, .btn-mini, .nav-pills > li > a, .nav-pills .dropdown-menu, .navbar-inner, .pagination ul, .modal, .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .nav-collapse .btn, .appMessage em {
  border-radius: var(--border-radius);
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input,
.input-append input + .btn-group .btn:last-child, .input-append select + .btn-group .btn:last-child, .input-append .uneditable-input + .btn-group .btn:last-child,
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle,
.input-prepend.input-append input + .btn-group .btn, .input-prepend.input-append select + .btn-group .btn, .input-prepend.input-append .uneditable-input + .btn-group .btn,
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child,
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child,
.input-append input, .input-append select, .input-append .uneditable-input,
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child,
.tabs-left > .nav-tabs > li > a {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.nav-tabs > li > a {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.nav-tabs .dropdown-menu, .tabs-below > .nav-tabs > li > a, .modal-footer {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}
