@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: normal;
  src: asset-data-url('Graphik-Regular-Cy-Gr-Web.woff') format('woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: bold;
  src: asset-data-url('Graphik-Semibold-Cy-Gr-Web.woff') format('woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: italic;
  font-weight: normal;
  src: asset-data-url('Graphik-RegularItalic-Cy-Gr-Web.woff') format('woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: italic;
  font-weight: bold;
  src: asset-data-url('Graphik-SemiboldItalic-Cy-Gr-Web.woff') format('woff');
}


/* 
-------------------------------------------------------------------------------
body
-------------------------------------------------------------------------------
*/

body {
  font-family: 'Graphik', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;
  
}

.container-fluid {
  max-width: 1080px;
  padding: 0 2em;
}

/* 
-------------------------------------------------------------------------------
top nav 
-------------------------------------------------------------------------------
*/

.navbar {
  max-width:  1080px;
  margin:  0 auto 2em auto;
  border-bottom:  1px dashed #f0edea;
}

.navbar .nav {
  position: static;
  margin: 0 auto;
  float: none;
  text-align: center;
}

.navbar .nav li a, .navbar .nav li.active a {
  padding:  0.75em 0.5em;
  color: #0176aa;
  font-size: 1rem;
  font-weight: bold;
}

.navbar .nav li a:hover, .navbar .nav li.active a:hover {
  color: #0176aa;
  text-decoration: underline;
}

.navbar .nav li a:focus {
  color: #0176aa;
  outline: auto;
}

.navbar .navbar-inner {
  background-color: transparent;
  box-shadow: none;
}

#mainNav .brand {
  padding: 1em 0 0 0;
  float: none;
  text-align: center;
  width: 235px;
  margin-left: auto;
  margin-right: auto;
}

#mainNav .brand span {
  background: url(https://dl.dropbox.com/s/nb46by4e36wd3hn/basecamp-3-icon.svg) no-repeat 0 0;
  background-size: 100%;
  display: inline-block;
  height: 90px;
  width: 200px;
  text-indent: -9000px;
}

.navbar .nav .active .caret,
#docsSearch h1 {
  display: none;
}

footer p {
  margin-top: 4em;
  margin-bottom: 7em;
  text-align: center;
}

.navbar .btn-navbar {
  display: none;
}

.nav-collapse, .nav-collapse.collapse {
  height: auto;
  overflow: visible;
  transform: none;
}

/* 
-------------------------------------------------------------------------------
search
-------------------------------------------------------------------------------
*/

#serp-dd {
  z-index: 1000;
}

#docsSearch {
  padding: 2em 1em 1em 1em;
  background-color: transparent;
  border-color: transparent;
}

#searchBar .search-query {
  height: 3.1em;
  border-color: #d8c6a6;
}

#searchBar button {
  height: 56px;
  border: none;
  background-color: #0076aa;
}

#searchBar button:hover {
  background-color: #006b8c;
}

/* 
-------------------------------------------------------------------------------
contact button
-------------------------------------------------------------------------------
*/

#contact, #contactMobile {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
}

#contact a, #contactMobile a {
  border-radius: 5em;
  padding: 0.75em 1.5em 0.75em 3em;
  background: #0076aa url('https://dl.dropbox.com/s/fqxxenxht7apfbh/chat-bubble%402x.png?dl=0') 1.25em center no-repeat;
  background-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}

#contact a:hover, #contactMobile a:hover {
  background-color: #006b8c;
}

/* 
-------------------------------------------------------------------------------
category list
-------------------------------------------------------------------------------
*/

.collection-category h2 {
  text-align: center;
  font-weight: bold;
}

.category-list {
  text-align: center;
}

#collection-category-109 .category-list .category {
  box-sizing: border-box;
  border-radius: 0.2rem 0.6rem 0.6rem 0.2rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  width: 20em;
  min-height: 22em;
  display: inline-block;
  margin: 1em;
  padding: 0;
  padding-top: 2em;
  vertical-align: top;
  position: relative;
  background-color: #f6ebd7;
  border: none;
  border-right: 4px solid #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #collection-category-109 .category-list .category {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    display: block;
  }
}

.category-list .category {
  border: 1px solid #d8c6a6;
}

.category-list .category:hover {
  background-color: inherit !important;
}

#collection-category-109 .category-list .category:hover {
  background-color: #f6ebd7;
}

#collection-category-109 .category-list .category:before {
  border-radius: 0.2rem 0.6rem 0.6rem 0.2rem;
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(109, 109, 109, 0) 3%, rgba(255, 255, 255, 0.01) 7%, rgba(255, 255, 255, 0.05) 27%, rgba(182, 182, 182, 0) 48%, rgba(0, 0, 0, 0.1) 100%);
}

#collection-category-109 .category-list h3 {
  margin: 1em auto 0 auto;
  padding: 0.5em;
  display: block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  background-color: #283c46;
  color: #ffffff !important;
}

.category-list h3 {
  color: #007bb6;
  font-weight: bold;
}

#collection-category-109 .category-list .category p {
  color: #ffffff;
  margin: 0;
  padding: 0 0.5em 0.75em 0.5em;
  font-size: 1.25em;
  background-color: #283c46;
}

.category-list category p {
  color: #cab692;
}

.category-list .category .article-count {
  color: #283c46 !important;
  background-color: transparent !important;
  margin: 0;
  display: none;
}

/* 
-------------------------------------------------------------------------------
custom categories
-------------------------------------------------------------------------------
*/

.category-list #category-113 {
  background-image: url('https://dl.dropbox.com/s/pxqh94egklzfqwd/path.gif?dl=0') !important;
  background-size: 100%;
}

.category-list #category-113 h3,
.category-list #category-113 p { 
  color: #ffe62c !important;
  background-color: #e55235 !important;
}

.category-list #category-116 {
  background-image: url('https://dl.dropbox.com/s/yff94zfakjx4mn9/edge-city.gif?dl=0') !important;
  background-size: 100%;
}

.category-list #category-116 h3,
.category-list #category-116 p { 
  color: #ffb2b9 !important;
  background-color: #283c46 !important;
}

.category-list #category-115 {
  background-image: url('https://dl.dropbox.com/s/qau5k5qe63a8aqk/icons.gif?dl=0') !important;
  background-size: 100%;
}

.category-list #category-115 h3,
.category-list #category-115 p { 
  color: #ffffff !important;
  background-color: #856ec6 !important;
}

.category-list #category-114 {
  background-image: url('https://dl.dropbox.com/s/bnjallrgws4e81l/hills.gif?dl=0') !important;
  background-size: 100%;
}

.category-list #category-114 h3,
.category-list #category-114 p { 
  background-color: #3cb371 !important;
  color: #283c46 !important;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
  .category-list #category-113 {
    background-image: url('https://dl.dropbox.com/s/154txzkzkayazx1/path%402x.gif?dl=0') !important;
    background-size: 100%;
  }

  .category-list #category-116 {
    background-image: url('https://dl.dropbox.com/s/evgz4vh4o6kt53j/edge-city%402x.gif?dl=0') !important;
    background-size: 100%;
  }

  .category-list #category-115 {
    background-image: url('https://dl.dropbox.com/s/p334kk0rf5qat52/icons%402x.gif?dl=0') !important;
    background-size: 100%;
  }

  .category-list #category-114 {
    background-image: url('https://dl.dropbox.com/s/ran3xiv5mypve68/hills%402x.gif?dl=0') !important;
    background-size: 100%;
  }
}

/* 
-------------------------------------------------------------------------------
entry page
-------------------------------------------------------------------------------
*/

#fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
  font-size: 1.05rem;
}

#fullArticle a {
  font-size: inherit !important;
}

#sidebar {
  margin-top: 3.25em;
}

#main-content {
  background: none;
  padding: 32px 0 0 48px
}

@media (max-width:768px) {
  #main-content {
    background: none;
    padding: 0
  }
}

.contentWrapper {
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.contentWrapper h1 {
  font-weight: bold;
  color: #283c46;
}

#categoryHead .sort {
  display: none;
}

#sidebar .nav-list a {
  color: #0076aa;
  font-size: 1.25em;
}

#sidebar .nav-list a:hover {
  color: #0076aa;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #283c46 !important;
}

.articleFoot time.lu {
  display: none;
}

.subnav {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
  border-left: 1px dashed #f0edea;
}

.subnav li {
  font-size: 1.125em !important;
  margin: 2px 0;
}

.subnav a {
  font-weight: normal !important;
  color: #0076aa !important;
  padding: 0 !important;
  font-size: inherit !important;
}

.subnav .icon-article-doc {
  display: none !important;
}

/* 
-------------------------------------------------------------------------------
article list
-------------------------------------------------------------------------------
*/

.articleList {
  margin-top: 2em;
}

.articleList li {
  padding:  1em 0 0.5em 0;
  margin:  0.5em 0;
  border-top: 1px dashed #f0edea;
}

.articleList a {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.icon-print {
  display: none !important;
}

#fullArticle a img {
  border: 0;
}
